/*

HOME HEADER

*/

#home__section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: visible;
  padding-top: 64px;
}

.home__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.background__images {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.light-mode__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 700ms ease;
}

.dark-mode__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 700ms ease;
  filter: brightness(30%);
}

body.dark-mode .light-mode__img {
  opacity: 0;
}

body.dark-mode .dark-mode__img {
  opacity: 1;
}

.home__items {
  position: relative;
}

body.dark-mode .home__items {
  color: #ffffff;
}

.homepage__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  margin-top: 32px;
  position: relative;
  z-index: 2;
}

.header__title--wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__title {
  text-align: center;
  width: 280px;
}

.homepage__header--wrapper {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.header__logo--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 100%;
}

.header__logo {
  width: 302px;
  transition: all 300ms ease;
}

.header__logo--text {
  margin-top: -48px;
  width: 320px;
  padding-left: 8px;
}

body.dark-mode .header__logo--text {
  filter: grayscale(1) invert(1) brightness(2);
}

.produce__image--wrapper,
.fridge__image--wrapper {
  width: 32.5%;
  height: auto;
  z-index: 1;
  display: flex;
  transform: translateY(20%);
}

.produce__image--wrapper {
  padding-left: 84px;
}

.fridge__image--wrapper {
  justify-content: flex-end;
  padding-right: 84px;
}

.produce__image,
.fridge__image {
  width: 350px;
  height: 350px;
  border-radius: 9999px;
  object-fit: cover;
}

.homepage__bottom {
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 4px;
  bottom: 100px;
  left: 46.5%;
}

.scroll__down--text {
  font-size: 18px;
  margin: 0;
}

.scroll__down--btn {
  width: 40px;
  height: 40px;
  transition: all 300ms ease;
}

.scroll__down--btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.scroll__down--btn:focus {
  scroll-behavior: smooth;
}

/*

HOME OPTIONS

*/

#home__options {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

#home__options .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#home__options .row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options__header {
  text-align: center;
  margin-top: 32px;
}

.options__title {
  font-size: 64px;
  margin: 0;
}

.options__subtitle {
  margin: 8px 0 0;
  font-size: 32px;
}

.shopping__baskets {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.shopping__basket--wrapper {
  width: 170px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 56px;
  text-align: center;
}

.shopping__basket {
  width: 170px;
  height: 170px;
  cursor: pointer;
  transition: all 400ms ease;
}

.shopping__basket--wrapper:hover .shopping__basket {
  transform: scale(1.1);
  filter: invert(0.25) brightness(2);
}

.shopping__basket--text {
  font-size: 44px;
  position: absolute;
  animation: textintobasket 400ms ease forwards;
}

.shopping__basket--wrapper:hover .shopping__basket--text {
  animation: textoutofbasket 400ms ease forwards;
}

.aisle__search--text {
  font-size: 40px;
  position: absolute;
  animation: aisleintobasket 400ms ease forwards;
}

.shopping__basket--wrapper:hover .aisle__search--text {
  animation: aisleoutofbasket 400ms ease forwards;
}

.shopping__basket--text,
.aisle__search--text {
  color: black;
  text-decoration: underline;
}

.dark-mode .shopping__basket {
  filter: invert(1) grayscale(1) brightness(2);
}

@keyframes textoutofbasket {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(50%);
  }
  10% {
    opacity: 0.1;
    transform: scale(0.75) translateY(-50%);
  }
  20% {
    opacity: 0.2;
    transform: scale(1) translateY(-75%);
  }
  30% {
    transform: scale(1.1) translateY(-100%);
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
    transform: scale(1.2) translateY(-50%);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.35) translateY(0%);
  }
  60% {
    opacity: 0.6;
    transform: scale(1.5) translateY(50%);
  }
  70% {
    opacity: 0.7;
    transform: scale(1.35) translateY(100%);
  }
  80% {
    opacity: 0.8;
    transform: scale(1.2) translateY(150%);
  }
  90% {
    opacity: 0.9;
    transform: scale(1.1) translateY(200%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(250%);
  }
}

@keyframes textintobasket {
  0% {
    opacity: 1;
    transform: scale(1) translateY(250%);
  }
  10% {
    opacity: 0.9;
    transform: scale(1.1) translateY(200%);
  }
  20% {
    opacity: 0.8;
    transform: scale(1.2) translateY(150%);
  }
  30% {
    opacity: 0.7;
    transform: scale(1.35) translateY(100%);
  }
  40% {
    opacity: 0.6;
    transform: scale(1.5) translateY(50%);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.35) translateY(0%);
  }
  60% {
    opacity: 0.4;
    transform: scale(1.2) translateY(-50%);
  }
  70% {
    opacity: 0.3;
    transform: scale(1.1) translateY(-100%);
  }
  80% {
    opacity: 0.2;
    transform: scale(1) translateY(-75%);
  }
  90% {
    opacity: 0.1;
    transform: scale(0.75) translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translateY(50%);
  }
}

@keyframes aisleoutofbasket {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(50%);
  }
  10% {
    opacity: 0.1;
    transform: scale(0.75) translateY(-50%);
  }
  20% {
    opacity: 0.2;
    transform: scale(1) translateY(-75%);
  }
  30% {
    transform: scale(1.1) translateY(-100%);
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
    transform: scale(1.2) translateY(-75%);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.35) translateY(-40%);
  }
  60% {
    opacity: 0.6;
    transform: scale(1.5) translateY(0%);
  }
  70% {
    opacity: 0.7;
    transform: scale(1.35) translateY(40%);
  }
  80% {
    opacity: 0.8;
    transform: scale(1.2) translateY(80%);
  }
  90% {
    opacity: 0.9;
    transform: scale(1.1) translateY(120%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(160%);
  }
}

@keyframes aisleintobasket {
  0% {
    opacity: 1;
    transform: scale(1) translateY(160%);
  }
  10% {
    opacity: 0.9;
    transform: scale(1.1) translateY(120%);
  }
  20% {
    opacity: 0.8;
    transform: scale(1.2) translateY(80%);
  }
  30% {
    opacity: 0.7;
    transform: scale(1.35) translateY(40%);
  }
  40% {
    opacity: 0.6;
    transform: scale(1.5) translateY(0%);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.35) translateY(-40%);
  }
  60% {
    opacity: 0.4;
    transform: scale(1.2) translateY(-75%);
  }
  70% {
    opacity: 0.3;
    transform: scale(1.1) translateY(-100%);
  }
  80% {
    opacity: 0.2;
    transform: scale(1) translateY(-75%);
  }
  90% {
    opacity: 0.1;
    transform: scale(0.75) translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translateY(50%);
  }
}