#navbar {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 300ms ease;
  position: fixed;
  z-index: 1000;
}

body.dark-mode .nav__icon {
  color: #ffffff;
}

body.dark-mode .nav__login {
  color: #ffffff;
}

body.dark-mode .nav__slash {
  color: #ffffff;
}

body.dark-mode .nav__signup {
  color: #ffffff;
}

.site__logo {
  margin-left: 12px;
}

.nav__links {
  margin-right: 12px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav__icon {
  font-size: 32px;
  cursor: pointer;
  color: #000000;
}

.nav__dropdown {
  transition: all 700ms ease;
}

body.dark-mode .nav__dropdown {
  background-color: #242424;
  color: #ffffff;
}

.nav__logo--wrapper {
  padding-top: 12px;
  padding-left: 12px;
}

.nav__logo {
  width: 56px;
  height: 56px;
  transition: all 300ms ease;
  cursor: pointer;
}

.nav__login,
.nav__signup {
  cursor: pointer;
}

.nav__login,
.nav__slash,
.nav__signup {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}
