html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  animation: fadeIn 1.5s ease-in;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Century Schoolbook" -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", "sans-serif", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  transition: background-color 300ms ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#outer__div {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: transparent;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.dark-mode {
  transition: all 300ms ease;
}

body.dark-mode {
  background-color: transparent;
}

.light-mode__img {
  width: 100%;
  z-index: 50;
}

.dark-mode__img {
  width: 100%;
}

.home__items,
.navbar__items {
  z-index: 100;
}

.background__images {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.light-mode__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 700ms ease;
}

.dark-mode__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 700ms ease;
  filter: brightness(30%);
}

body.dark-mode .light-mode__img {
  opacity: 0;
}

body.dark-mode .dark-mode__img {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade__in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade__out {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.fade__out.hidden {
  opacity: 0;
}

.fade__in.visible {
  opacity: 1;
}

.fade__in--shopping {
  animation: fadeIn 1.5s ease-in;
}

.back-to-shopping__btn--wrapper {
  position: absolute;
  left: 64px;
}

.back-to-shopping__btn {
  width: 150px;
  height: 44px;
  font-size: 20px;
  background-color: black;
  color: white;
  border-radius: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 300ms ease;
  cursor: pointer;
}

body.dark-mode .back-to-shopping__btn {
  background-color: white;
  color: black;
}