html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Century Schoolbook" -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", "sans-serif", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  transition: background-color 300ms ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#outer__div {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: transparent;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  height: 100%;
}

.dark-mode {
  transition: all 300ms ease;
}

body.dark-mode {
  background-color: transparent;
}

.light-mode__img {
  width: 100%;
  z-index: 50;
}

.dark-mode__img {
  width: 100%;
}

.home__items, .navbar__items {
  z-index: 100;
}